{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">{{ gettext('Этот сайт написан мною на Flask.') }}<span></span></h1>
      <h2>{{ gettext('Приевтстую всех на моём сайте !!!

      Меня зовут Александр, мне 32 года, женат, в 2008 году закончил Белорусский государсвенный аграрный технический университет, факультет технического сервиса АПК. Программированием увлекаюсь давно, однако более серьёзно оно меня вовлекло со знакомством такого языка как Python. Немного информации обо мне а также ссылки на соц сети и репозитории на GitHub читайте ниже. Спасибо.') }}</h2>
      <div class="row">
        <div>
         x
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="bg-gray">
    <div class="container">
      <div class="row feature-row text-xs-center">
        <div class="col-md-4">
            <h2>{{ gettext('Предыдущая деятельность') }}</h2>
            {{ gettext('   Помимо основной деятельности предыдущий опыт работ был связан с работой системного администратора(настройка бесперебойной работы компьютеров в офисе, 1С , ЭСЧФ, Электронное декларирование, клиент банка, работа сайта предприятия). ') }}
        </div>
        <div class="col-md-4">
          <h2>{{ gettext('Технические навыки') }}</h2>
          {{ gettext('Изучением Python занимаюсь более 1 года, в процессе обучения, изучены Flask, Django, Git, GitHub Nginx, uWSGI, Gunicorn, MongoDB, Celery, Redis, RabbitMQ, терминал Linux (Ubuntu 16.04 на VM) основы HTML, CSS. Чтение технической литературы на английском языке(уровень английского языка pre-intermediate). Кроме python, изучал Java, принципы работы ООП и прочих связанных технологий') }}
       </div>
        <div class="col-md-4">
          <h2>{{ gettext('Прочитанные книги') }}</h2>
          {{ gettext('Программируем на Python - 2014, Доусон М.Простой Python. Современный стиль программирования, 2016 - Билл Любанович, O*REILLY  Flask Web Development - Grinberg M.') }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
